################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BITool/obj
/BITool/bin/Debug/net6.0
/BITool/.vs/BITool/v17
/BITool/.vs/BITool
/BITool/bin/Release/net6.0
/BITool/Properties/PublishProfiles
/BiToolSPA